<h3>
  List of Movies
</h3>

<div class="container-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>id</th>
        <th>Title</th>
        <th>Tagline</th>
        <th>Overview</th>
        <th>Revenue</th>
        <th>Release Date</th>
        <th>Rating</th>
        <th>Imdb</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>
</div>
