<h3>
  List of Movies
</h3>

<p>
  <ngb-progressbar [hidden]="!loading" type="info" [value]="55" [striped]="true" [animated]="true">
    <i>Loading...</i>
  </ngb-progressbar>
</p>


<!-- <div [hidden]="!loading"> Loading Movies... </div> -->
<div class="container-responsive">
  <table class="table table-bordered" *ngIf="movies && movies.length">
    <thead>
      <tr>
        <th>#</th>
        <th>id</th>
        <th>Title</th>
        <th>Tagline</th>
        <th>Overview</th>
        <th>Revenue</th>
        <th>Release</th>
        <th>Rating</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies; let i=index">
        <td>{{i+1}}</td>
        <td>{{movie.id}}</td>
        <td>
          <a name="" href="{{movie.imdbId}}" target="_blank" role="button"> {{movie.title | capitalize}} </a>
        </td>
        <td>{{movie.tagline}}</td>
        <td>
          <!-- <ng-template #tipContent>{{movie.overview}}</ng-template> -->

          <span ngbTooltip="{{movie.overview}}" placement="left">
            {{movie.overview | summary}}
          </span>
        </td>
        <td>{{movie.revenue | currency:'GBP' }}</td>
        <td>{{movie.releaseDate | date:'fullDate' }}</td>
        <td>
          <span class="badge badge-pill" [ngClass]="{'badge-success': movie.averageVote > 8 ,'badge-warning': movie.averageVote < 6, 'badge-primary': movie.averageVote > 6 && movie.averageVote < 8 }">
            {{movie.averageVote}}
          </span>

          <ng-template #t let-fill="fill">
            <span *ngIf="fill === 100" class="star full">&#9733;</span>
            <span *ngIf="fill === 0" class="star">&#9733;</span>
            <span *ngIf="fill < 100 && fill > 0" class="star">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
          </ng-template>


          <ngb-rating [(rate)]="movie.averageVote" [starTemplate]="t" [readonly]="true" max="10"></ngb-rating>

        </td>
        <td>
          <img src="{{movie.posterUrl}}" width="50" height="70" alt="">
        </td>
      </tr>

    </tbody>
  </table>
</div>
