<h3>
  create-form works!
</h3>

<!-- In the below code we have to manually check the enter key in component to get the value -->
<!-- <input type="text" (keyup)="onKeyUp($event)" > -->


<!-- here we use Angular event filtering for better solution, keyup.enter pseudo-event 
Then Angular calls the event handler only when the user presses Enter.-->
<!-- <input type="text" (keyup.enter)="onKeyUpEnter($event)"> -->


<!-- Template Variables used to get values from above text value -->
<!-- A template reference variable is often a reference to a DOM element within a template. It can also be a reference to an Angular component or directive -->
<!-- The scope of a reference variable is the entire template. Do not define the same variable name more than once in the same template. The runtime value will be unpredictable. -->
<input type="text" #phone (keyup.enter)="onKeyUpGetValueFromTemplate(phone.value)">

<!-- two way binding ngModel -->
<!-- <input type="text" [value]="bookname" (keyup.enter)="onKeyUpGetPropertyValue(bookname)"> -->
<br>
<br>
<br>
<br>
<br>
<!-- with value property we only get initial vaue and not updated value  because property binding is one way from Component to View not other way -->


<!-- banan in a box syntax, ngModel will be in different module formsModule , make sure to import in AppModule -->
<!-- <input type="text" [(ngModel)]="bookname" (keyup.enter)="onKeyUpTwoWayBinding(bookname)"> -->

<h4>
  {{bookname}}
</h4>
