<h3>
  List of Movies
</h3>

<div class="container">
  <table class="table table-sm">
    <thead>
      <tr>

        <th>Title</th>
        <th>Rating</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies; let i=index">

        <td>
          <button class="btn" (click)="onSelect(movie)"> {{movie.title | capitalize}} </button>
        </td>

        <td>
          <span class="badge badge-pill" [ngClass]="{'badge-success': movie.averageVote > 8 ,'badge-warning': movie.averageVote < 6, 'badge-primary': movie.averageVote > 6 && movie.averageVote < 8 }">
            {{movie.averageVote}}
          </span>
        </td>

      </tr>

    </tbody>
  </table>


</div>

<div>
  <app-movie-detail [movie]="selectedMovie" (movieEdited) = "onMovieEdited($event)" ></app-movie-detail>
</div>
